@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
.heading {
  @apply text-3xl font-bold;
}

.froalaLink1 {
  @apply underline text-[#2196f3] block;
}

.froalaLink2 {
  @apply text-green-800 block;
}

.content-block {
  position: relative;
  transition: all 0.2s;
}
.content-block:hover .delete-btn,
.content-block:focus-within .delete-btn {
  display: block;
}

.delete-btn {
  display: none;
}
